span {
  color: white;
  margin: 5px;
}

span a {
  text-decoration: none;
  color: white;
}

.main-footer {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  font-family: 'Tajawal', sans-serif;
}

@media (max-width: 767px) {
  span {
    color: white;
    margin: 20px 8px;
  }

  .main-footer {
    margin-top: 10px;
  }
}
